.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the overlay is on top of other content */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left; /* Align text to the left */
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-text {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #637381;
}

.modal-title {
  text-align: left;
  margin-bottom: 5px; /* Reduce the gap between the title and the text */
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 15px; /* Add a gap of 15px between buttons */
  margin-top: 20px;
}

.primary-button {
  padding: 10px 20px;
  background-color: #5967F1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.primary-button.disabled {
  background-color: grey;
}

.primary-button.enabled:hover {
  background-color: #3a48b1;
}

.secondary-button {
  padding: 10px 20px;
  background-color: white;
  color: #5967F1;
  border: 1px solid #5967F1;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.secondary-button.disabled {
  color: grey;
  border-color: grey;
}

.secondary-button.enabled:hover {
  background-color: #e0e0e0;
}
