.secondary-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 10px 28px;
    border: 1px solid #5967F1; /* Border with specified color */
    background-color: white; /* Background color white */
    color: #5967F1; /* Text color */
    border-radius: 6px; /* Border radius */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .secondary-button.enabled {
    background-color: white; /* Background color white when enabled */
    color: #5967F1; /* Text color when enabled */
  }
  
  .secondary-button.disabled {
    background-color: white; /* Background color white when disabled */
    color: grey; /* Grey text color when disabled */
    cursor: not-allowed;
  }
  